# Local configuration
.DS_Store
.vscode/

# Compiled files
*.o
*.a

# Executables
*.app
*.exe
*.out

# Downloaded libraries
SDL2/

# Build folder
build/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile